h1 {
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}

.countdown-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.countdown-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 24px;
  padding-top: 4px;
  padding-bottom: 8px;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  gap: 4px;
  width: 101.5px;
  height: 84px;
  background: rgba(119, 126, 144, 0.18);
  backdrop-filter: blur(80px);
  border-radius: 8px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
}

.countdown-item span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.gap-symbol {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: right;
  padding: 10px;
  color: #FFFFFF;
}

.share-event {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #353945;
}

.modal-content {
  padding-right: 25px;
  padding-top: 15px;

  position: absolute;
  width: 496px;
  height: 412px;
  left: calc(50% - 496px/2);
  top: calc(50% - 412px/2);
  background: #1F2128;
  border: 1px solid rgba(49, 52, 63, 0.75);

  box-shadow: 0px 32px 64px -16px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
}

.modal-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  text-align: center;
  letter-spacing: -0.02em;

  color: #FCFCF9;
}

.copy-url {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 12px;
  margin-left: 12px;

  width: 416px;
  height: 56px;
  background: #22252D;
  border: 1px solid rgba(73, 78, 91, 0.3);
  border-radius: 250px;
}

.url-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding-top: 32px;
  padding-bottom: 16px;

  text-align: center;
  color: #7F8596;
}

.url {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  color: #7F8596;
  margin-left: -100px;
}